<div class="col-md-12">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<ol class="breadcrumb">
	  			<li><a href="/">首页</a></li>
	 			<li class="active">文章分类</li>
			</ol>
			<strong>添加文章分类</strong>
			<form action="addCategory" method="post" style="margin-bottom: 60px;">
				<input type="text" id="cat_name" name="frm_cat_name" class="form-control input-lg" placeholder="输入新的文章类名">
				<label for="isFatherCat">是否为父类</label>
				<input type="checkbox" name="isFatherCat" id="isFatherCat"></br>
				<input type="hidden" name="frm_cat_level" id="cat_level" value="">
				<input type="hidden" name="frm_pcat_name" id="pcat_name" value="">
				<input type="hidden" name="frm_cat_pid" id="cat_pid" value="">

				<div id="chosedCats"></div>
				<div class="categoriesWrap">
					{{!-- <ul class="firstCat">
						<li>firstCat1
							<ul>
								<li>node1</li>
								<li>node2</li>
								<li>node3</li>
							</ul>
						</li>
						<li>firstCat2
							<ul>
								<li>node1</li>
								<li>node2</li>
								<li>node3</li>
							</ul>
						</li>
						<li>firstCat3
							<ul>
								<li>node1</li>
								<li>node2</li>
								<li>node3</li>
							</ul>
						</li>
					</ul> --}}
					<ul class="firstCat">
						{{!-- <li>firstCat1
							<ul>
								<li>node1</li>
								<li>node2</li>
								<li>node3</li>
							</ul>
						</li>
						<li>firstCat2
							<ul>
								<li>node1</li>
								<li>node2</li>
								<li>node3</li>
							</ul>
						</li>
						<li>firstCat3</li> --}}
					</ul>
				</div>				
				
				<button type="submit" id="addCategoryBtn" class="btn btn-success editor_btn_action pull-right" style="margin-top: 20px;">添加</button>
			</form>
			<h1>文章分类</h1>
			<div id="tree"></div>
			<ul class="list-group">
				<li class="list-group-item">
					<span class="pull-right"><strong>是否有子类</strong></span>
			    	<strong>类名</strong>
		  		</li>
				{{#if hascategories}}
					<input type="hidden" value={{categories}}>
				{{/if}}
			</ul>
		</div>
	</div>
</div>